@import 'tailwindcss';

@theme {
  --font-abcDiatype: 'ABCDiatype', 'Trebuchet MS', sans-serif;
  --font-reckless: 'Reckless', Georgia, serif;
  --color-smokyBlack: oklch(0.147 0.004 49.25);
  --color-eerieLight: oklch(0.236 0.017 82.64);
  --color-eerieBlack: oklch(0.198 0.018 83.63);
  --color-hotOrange: oklch(0.594 0.181 34.79);
  --color-moss: oklch(0.647 0.076 126.91);
  --color-orangeWheel: oklch(0.673 0.156 50.37);
  --color-night: oklch(0.184 0.011 78.64);
  --color-white: oklch(1 0 0);
}

:root {
  --backdrop:#faf8ec;
  --background: #ffffff;
  --foreground: #171717;
  --background-start-rgb: 231, 231, 245;
  --background-end-rgb: 255, 255, 255;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--backdrop);
  font-family: var(--font-abcd-diatype), sans-serif;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.08) 1px, transparent 0px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 1px, transparent 0px);
  background-size: 60px 60px;
  pointer-events: none;
}


@layer components {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
      font-family: var(--font-abcd-diatype), sans-serif;
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
      font-family: var(--font-reckless), serif;
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
      font-family: var(--font-reckless), serif;
    }
  }
}


